#fcontainer{
width:100%;
padding:5px 15px 11px 15px;
background:rgba(9,33,67,1);
color:#ffffff;
border:2px solid #f4a51c;
border-radius:5px;
margin-bottom:15px;
float:left;
}
#fcontainer .fa{
color:#f4a51c;
margin-top:7px;
font-size:18px;
}
#viewing{
display:block;
}
#bought{
display:none;
}
#fcontainer div {
float:left;
margin-top:4px;
}

/*New line for show number after text*/
#fcontainer b{
    float: right;
    margin-left: 2px;
}

/*New line for show text after number*/
#textAfter1{
    margin-left: 2px;
    margin-top:4px;
}

#textAfter2{
    display:none;
    margin-left: 2px;
    margin-top:4px;
}


.box {
    position: relative;
    background: #9E9E9E;
    border: black 1px solid;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.row {
    display: block;
    float:left;
    width:100%;
}

.label{
    position: absolute;
    top: 0;
    color: white;
    font-size: 16pt;
    height: 20px;
    width: 100%;    
}

.content{
    height: 70%;
    width: 100%;
    background: #f7afaf
}

.price{
    height: 40px;
    width: 100%;
    background: #b9b9b9;
    text-align: center;
}

.label-red {
    background: red;
}

.label-green {    
    background: green;
}

.label-yellow {
    background: yellow;
}
