.top-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5);
}

.top-header-content{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-background{
    background: url('/assets/img/mac.jpg');    
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center top !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-a-header{
    text-decoration: none;
    color: white;
}

.text-a-header:hover{
    color: var(--bs-primary);
}

.bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-12{
    font-size: 12px;
}

.name-badge{
    background: var(--bs-primary);
    padding: 0px 5px 0px 5px;
    border-radius: 6px;
    letter-spacing: 2px;
}

.nav-options-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.avatar{
    width: 123px;
    height: 123px;
    display: flex;
}

.img-avatar{
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bg-gray-section{
    background-color: #F5F5F5;
}

.rounded-10{
    border-radius: 10px;
    height: 10px;
}

.progress-bar{
    background: linear-gradient(90deg, rgba(0,255,204,1) 0%, rgba(35,119,199,1) 36%);
}


.timeline {
    margin: auto;
  }
  
  p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(90deg, rgba(35,119,199,1) 25%, rgba(0,255,204,1) 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;
  
  }
  

  
  
  p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
    
  
  }
  
  p:nth-child(odd):before {
    left: 100%; 
    margin-left: -20px;
  }
  
  
  p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
    
  }
  
  p:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
  }
  
  p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  
  
  p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
  
  
  .img-uc{
    width: 200px;
    height: 250px;   
  }
  
  .img-acto{
      object-fit: cover;
      width: 100%;
      height: 80%;
      border-radius: 6px;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
  }
  
  .slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .mat-elevation-z2 {
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }